<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/colours.css">
    <link rel="stylesheet" href="/styles/blogpost.css">
    <base target="_blank">
</head>

<body>
    <div id="blog_main">
        <h3 id="header">AYVACS <a href="../../">home</a></h3>
        <p id="date">{{ date | sentenceDate }}</p>
        <h1>{{ title }}</h1>

        <hr>

        <div id="blog-content">{{ content | safe }}</div>

        <hr>

        <p id="copyright">&copy; {{ date | year }} ayvacs. all rights reserved. <a id="view-source"></a></p>
    </div>

    <!-- Add view edit history btn -->
    <script>
        const pageurl = "{{ page.url }}";
        const btn = document.getElementById("view-source");

        btn.href = `https://github.com/ayvacs/ayvacs.github.io/commits/main/docs${ pageurl.substring(0, pageurl.length - 1) }.md`;
        btn.textContent = "view edit history";
    </script>

    <!-- Add hightlight.js syntax highlighting for codeblocks -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <style>
        /* hljs override styles */
                .hljs { background: none; }
        pre code.hljs { padding: 0; }
    </style>
</body>

</html>